@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.header {
    display: flex;
    align-items: flex-end;
    gap: 30px;
    font-size: 35px;
    font-family: 'Varela Round', sans-serif;
}